<div class="jumbotron">
    <div class="container">
        <h1>Find your people</h1>
        <p>They'll hopefully feed you some pizza</p>
        <p>
            <a href="#" class="btn btn-primary btn-lg">More</a>
        </p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Latest events</h2>
        </div>
        <div class="col-md-4">
            <%= image_tag('red-panda.jpg') %>
            <div class="row">
              <div class="col-md-9">
                <h3>Rails @Amsterdam</h3>
                <p>Rails is really hip.</p>
              </div>
            <div class="col-md-3">
              <p class="attend-btn"><a href="#" class="btn btn-primary">Attend</a></p>
            </div>
          </div>

        </div>
        <div class="col-md-4">
            <%= image_tag('red-panda.jpg') %>
            <div class="row">
              <div class="col-md-9">
                <h3>React in Amsterdam</h3>
                <p>React is really hip.</p>
              </div>
            <div class="col-md-3">
              <p class="attend-btn"><a href="#" class="btn btn-primary">Attend</a></p>
            </div>
          </div>

        </div>
        <div class="col-md-4">
            <%= image_tag('red-panda.jpg') %>
            <div class="row">
              <div class="col-md-9">
                <h3>Amsterdangular</h3>
                <p>ng-help</p>
              </div>
            <div class="col-md-3">
              <p class="attend-btn"><a href="#" class="btn btn-primary">Attend</a></p>
            </div>
          </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Find an event</h2>
            <p>Look, the content of the talk is super important, but you should also consider if you will be fed and watered.</p>

              <input type="text"></input>
              <a href="#" class="btn btn-primary">Search</a>
        </div>
        <div class="col-md-6"><%= image_tag('red-panda.jpg') %></div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Find all events</h2>
            <p>There are always tons of things to be doing. I mean, why are you even on this site? You should be doing something.</p>
            <a href="#" class="btn btn-primary btn-lg">View all events</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>About CodaisseurUp</h2>

        </div>
    </div>
</div>
